config.yml
mongoid.yml
.rvmrc
tracco.sublime-workspace

.tmtags
.tags
.tags_sorted_by_file

.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
